*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*----------
    Banner
  ----------*/

.container{
    display: flex;
    background-color: black;
    border-radius: 40px;
    margin: 50px 150px 50px 150px;
}

.titleSection{
    width: 50%;
    padding: 100px 100px 100px 120px;
    align-items: center;
}

.titleSection h1{
    font-size: 5.5rem;
    font-weight: 700;
    color: white;
}

.titleSection p{
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    margin: 30px 0 30px 0;
}

.titleSection button{
    background-color: red;
    padding: 20px 30px 20px 30px;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: 700;
}

.fa-greater-than{
    margin-left: 15px;
}

.imgSection{
    padding: 40px 100px 0 0;
    width: 50%;
}

.imgSection img{
    width: 100%;
    height: 100%;
}

/*---------------
    2nd Section
  ---------------*/

.secondSection{
    margin: 50px 150px 50px 150px;
    display: flex;
    justify-content: space-between;
}

.sideBar{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 15px;
    height: 312px;
    width: 312px;
    justify-content: space-evenly;
    padding: 5px 30px 5px 30px;
}

.sideBar a{
    text-decoration: none;
    color: black;
    padding: 20px 25px 20px 25px;
    background-color: white;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 15px;
    font-weight: 700;
}

#active{
    background-color: red;
    color: white;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

article{
    display: flex;
    flex-direction: column;
    width: 370px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border-radius: 10px;
}

article button{
    margin: 15px 0 10px 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}

article p{
    padding: 5px 10px 5px 10px;
    font-size: 1.3rem;
    font-weight: 700;
}

.articaleBanner{
    height: 175px;
    width: 370px;
}

.flexStyle{
    display: flex;
}

.iconsSection{
    padding: 20px 10px;
    color: black;
    font-weight: 600;
    font-size: 1.1em;
}

.icons{
    padding-right: 10px;
}