*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*----------
    Banner
  ----------*/

.container{
    display: flex;
    background-color: black;
    border-radius: 40px;
    margin: 50px 150px 50px 150px;
}

.titleSection{
    width: 50%;
    padding: 100px 100px 100px 120px;
    align-items: center;
}

.titleSection h1{
    font-size: 5.5rem;
    font-weight: 700;
    color: white;
}

.titleSection p{
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    margin: 30px 0 30px 0;
}

.titleSection button{
    background-color: red;
    padding: 20px 30px 20px 30px;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}

.fa-greater-than{
    margin-left: 15px;
}

.imgSection{
    padding: 40px 100px 0 0;
    width: 50%;
}

.imgSection img{
    width: 100%;
    height: 100%;
}

/*---------------
    2nd Section
  ---------------*/

.secondSection{
    margin: 50px 150px 150px 150px;
    display: flex;
    justify-content: space-between;
}

/* -------------
    Side Bar 
------------- */

.sideBar{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 15px;
    height: 312px;
    width: 312px;
    justify-content: space-evenly;
    padding: 5px 30px 5px 30px;
}

.sideBar a{
    text-decoration: none;
    color: black;
    padding: 20px 25px 20px 25px;
    background-color: white;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 15px;
    font-weight: 700;
}

#active{
    background-color: red;
    color: white;
}

/* -----------------
    Blog Section 
------------------*/

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

article{
    display: flex;
    flex-direction: column;
    width: 370px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border-radius: 10px;
}

article button{
    margin: 15px 0 10px 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}

article p{
    padding: 5px 10px 5px 10px;
    font-size: 1.3rem;
    font-weight: 700;
}

.articaleBanner{
    height: 175px;
    width: 370px;
}

.flexStyle{
    display: flex;
}

.iconsSection{
    padding: 20px 10px;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
}

.icons{
    padding-right: 10px;
}

.flagSection{
    display: flex;
    justify-content: space-around;
    margin: 50px 10px 25px 10px;
}

.flagSection h3{
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
}

.flagStyle{
    height: 70px;
    width: 110px;
}

.matchTitle{
    font-size: 1.6rem;
    text-align: center;
}

.matchDetails{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 100;
    margin: 15px 0 55px 0;
}

/* --------------------
    View All Button 
---------------------*/

.viewAll{
    text-align: center;
    display: none;
    margin: 0 0 50px 0;
}

.viewAll Button{
    color: white;
    background-color: red;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 5px;
}

/* ---------------
   Footer Section 
------------------*/

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 180px 0 150px 0;
}

footer h1{
    font-size: 3rem;
}

.fotterContent{
    display: flex;
    justify-content: space-between;
    margin: 0 400px 0 400px;
}

.fotterContent h4{
    color: gray;
    font-size: 1.2rem;
}

hr{
    margin: 50px 200px 50px 200px;
    border: none;
    height: 1px;
    background-color: gray
}

/* ----------------
    Media Queries 
-------------------*/

/* ------------------
    Mobile Devices 
---------------------*/

@media only screen and (max-width: 688px) {
    /*----------
       Banner
    ----------*/
    .container{
        display: flex;
        flex-direction: column;
        margin: 20px;
        background-color: black;
        border-radius: 20px;
        height: auto;
        width: 90%;
        justify-items: center;
        align-content: center;
    }

    .titleSection{
        width: 100%;
        padding: 50px 0 0 0;
        align-items: center;
    }

    .titleSection h1{
        font-size: 2.7rem;
        font-weight: 700;
        color: white;
        text-align: center;
        padding: 0 100px 0 100px;
    }

    .titleSection p{
        font-size: 1.6rem;
        font-weight: 300;
        color: gray;
        margin: 20px 0 30px 0;
        padding: 10px 60px 10px 60px;
        height: 78px;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
    }

    .titleSection button{
        background-color: red;
        padding: 20px 30px 20px 30px;
        color: white;
        font-size: 2rem;
        border-radius: 8px;
        font-weight: 700;
    }

    .watchLiveBtn{
        text-align: center;
    }

    .fa-greater-than{
        margin-left: 15px;
    }

    .imgSection{
        padding: 20px 0 0 0;
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .imgSection img{
        width: 100%;
        height: auto;
    }

    /*---------------
       2nd Section
    ---------------*/

    .secondSection{
        margin: 0;
        display: block;
    }

    /* -------------
        Side Bar 
    ------------- */

    .sideBar{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 0;
        height: 100%;
        width: 100%;
        align-items: center;
        padding: 20px 0 40px 0;
    }

    .sideBar a{
        text-decoration: none;
        color: black;
        margin: 10px 0 10px 0;
        padding: 20px 10px 20px 10px;
        width: 80%;
        background-color: white;
        text-align: center;
        font-size: 2rem;
        border-radius: 15px;
        font-weight: 700;
        border: 1px solid rgba(128, 128, 128, 0.233);
    }

    /* -----------------
        Blog Section 
    ------------------*/

    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
        margin: 0 auto 50px auto;
        justify-items: center;
    }

    /* --------------------
        View All Button 
    ---------------------*/

    .viewAll{
        display: none;
    }

    /* ------------------
        Footer Section 
    --------------------*/

    footer{
        background-color: black;
        color: white;
        text-align: center;
        padding: 80px 0 150px 0;
        width: 100%;
    }

    footer h1{
        font-size: 2.4rem;
    }

    .fotterContent{
        display: block;
        justify-content: center;
        margin: 0 20px 0 20px;
    }

    .fotterContent h4{
        color: gray;
        font-size: 1.4rem;
        padding: 20px;
    }

    hr{
        margin: 50px 50px 50px 50px;
        border: none;
        height: 1px;
        background-color: gray
    }
}

/* ------------------
    Tablets Devices
---------------------*/

@media only screen and (min-width: 689px) and (max-width: 992px){

    /*----------
       Banner
    ----------*/
    .container{
        margin: 30px;
        display: flex;
        border-radius: 40px;
        height: 450px;
    }

    .titleSection{
        width: 50%;
        padding: 50px 20px 50px 80px;
        align-items: center;
    }

    .titleSection h1{
        font-size: 2.8rem;
        font-weight: 700;
        color: white;
    }

    .titleSection p{
        font-size: 1rem;
        font-weight: 300;
        color: white;
        margin: 20px 0 20px 0;
        height: 79px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .titleSection button{
        background-color: red;
        padding: 20px 30px 20px 30px;
        color: white;
        font-size: 1.2rem;
        border-radius: 10px;
        font-weight: 700;
    }

    .fa-greater-than{
        margin-left: 15px;
    }

    .imgSection{
        padding: 40px 10px 0 0;
        width: 50%;
    }

    .imgSection img{
        width: 100%;
        height: 100%;
    }

    /*---------------
       2nd Section
    ---------------*/

    .secondSection{
        margin: 0;
        display: block;
    }

    /* -------------
        Side Bar 
    ------------- */

    .sideBar{
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 0;
        height: 50px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0 40px 0;
    }

    .sideBar a{
        text-decoration: none;
        color: black;
        padding: 20px 10px 20px 10px;
        width: 200px;
        background-color: white;
        text-align: center;
        font-size: 1.3rem;
        border-radius: 15px;
        font-weight: 700;
        border: 1px solid rgba(128, 128, 128, 0.233);
    }

    /* -----------------
        Blog Section 
    ------------------*/

    .blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
        margin: 0 25px 50px 25px;
    }

    /* --------------------
        View All Button 
    ---------------------*/

    .viewAll{
        display: block;
    }

    /* ------------------
        Footer Section 
    --------------------*/

    footer{
        background-color: black;
        color: white;
        text-align: center;
        padding: 80px 0 150px 0;
    }

    .fotterContent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 20px 0 20px;
    }

    .fotterContent h4{
        color: gray;
        font-size: 1.2rem;
        padding: 20px;
    }

    hr{
        margin: 50px 50px 50px 50px;
        border: none;
        height: 1px;
        background-color: gray
    }
}